name: wedding_web
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.2.2 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  flutter_bloc: ^9.1.1
  # firebase_core: ^4.2.0
  # cloud_firestore: ^6.0.3
  # cached_network_image: ^3.4.1
  video_player: ^2.8.5
  # lottie: ^3.3.2
  # scrollable_positioned_list: ^0.3.8
  equatable: ^2.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:

  uses-material-design: true
  assets:
    - assets/
